<!--
   Project:       offlineModelGetter
   File Name:     index
   Author:        Chaos
   Email:         life0531@foxmail.com
   Date:          2021/6/8
   Software:      PyCharm
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语音语料管理系统</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
</head>
<body>
<table class="layui-table" lay-even id="main-content">
    <colgroup>
        <col width="10%">
        <col width="10%">
        <col width="5%">
        <col width="60%">
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>Duration</th>
            <th>Play</th>
            <th>Transcript</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody id="table-body">
{#        <tr>#}
{#            <td>01</td>#}
{#            <td>1</td>#}
{#            <td><i class="layui-icon layui-icon-headset" id="play_audio-1" onclick="play(this)">#}
{#                <audio>#}
{#                    <source src/>#}
{#                </audio>#}
{#            </i></td>#}
{#            <td>你好</td>#}
{#            <td>喜马拉雅</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>02</td>#}
{#            <td>5</td>#}
{#            <td>你好吗</td>#}
{#            <td>喜马拉雅</td>#}
{#        </tr>#}
    </tbody>
</table>

<div id="page-box" style="float: right; margin-right: 5%;"></div>


<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script>
    URL = "http://localhost:8000/getter/web/tasks/";
    function play(obj){
        var audio = obj.firstChild
        {#console.log(audio)#}
        audio.play();
    }

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage;
        var layer = layui.layer;
        var $ = layui.jquery;

        $.ajax({
            type: "post",
            url: URL + "1/",
            async: false,
            success: function(res){
                res = JSON.parse(res);
                // console.log(res.pages);
                pages = res.pages;
                first_data = res.data;
            }
        })

        laypage.render({
            elem: "page-box",
            count: pages*30,
            limit: 30,
            groups: 20,
            layout: ['prev', 'page', 'next', 'skip'],
            jump: function (obj, first){
                if(first){
                    // 首次加载，直接进行渲染
                    var audios = [];
                    layui.each(first_data, function(index, item){
                            audios.push(
                                "<tr>" +
                                        "<td>" + item.id + "</td>" +
                                        "<td>" + item.duration + "</td>" +
                                        "<td><i class='layui-icon layui-icon-headset' id='play_audio-1' onclick='play(this)'><audio><source src=data:audio/wav;base64," + item.base64 + "/></audio></td>" +
                                        "<td>" + item.transcript + "</td>" +
                                        "<td>" + item.source + "</td>" +
                                    "</tr>"
                            );
                            // console.log(audios);
                            $("#table-body").html(audios);
                        })
                }
                else {
                    // 翻页回调
                    $.ajax({
                        url: URL + obj.curr + "/",
                        type: "post",
                        // async: false,
                        beforeSend: function () {
                            // loading
                            load_layer = layer.load(2);
                        },
                        success: function (res) {
                            res = JSON.parse(res);
                            var audios = []
                            layui.each(res.data, function (index, item) {
                                audios.push(
                                    "<tr>" +
                                    "<td>" + item.id + "</td>" +
                                    "<td>" + item.duration + "</td>" +
                                    "<td><i class='layui-icon layui-icon-headset' id='play_audio-1' onclick='play(this)'><audio><source src=data:audio/wav;base64," + item.base64 + "/></audio></td>" +
                                    "<td>" + item.transcript + "</td>" +
                                    "<td>" + item.source + "</td>" +
                                    "</tr>"
                                );
                                // console.log(audios);
                                $("#table-body").html(audios);
                            })
                            // $("#table-body").html("<h1>1111</h1>")
                        },
                        complete: function () {
                            // ajax完成，取消加载框
                            layer.close(load_layer);
                        }
                    })
                }
            }
        });
    })
</script>
</body>
</html>